/* Base Styles */


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: #1f202b; 
    margin: 0 auto;
}

#work {
    height: 1500px;
}

#about {
    height: 550px;
}

#contact {
    height: 400px;
}

a:hover {
    color: #fa0075;
}

h3 {
    font-family: 'Source Code Pro', monospace;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: #fa0075;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

/* Grid */

.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}

/* Header and Menu*/

header {
    height: 75px;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #fff;
    text-transform: lowercase;
    /* margin: 10px 0 15px 0; */
}

.hero {
    height: 800px;
    background: url('../images/hero-background.png');
    background-size: cover;
}

.hero h2 {
    font-family: 'Source Code Pro', monospace;
    font-size: 72px;
    font-weight: 600;
    line-height: 80px;
    width: 1000px;
    padding: 23% 0 0 5%;
    margin: 0;
}

.hero h2 span {
    color: #fa0075;
}

nav {
    float: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-transform: lowercase;
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    padding-left: 45px;
}


/* Work Section */

.work-item {
    width: 48%;
    height: 500px;
}

.work-item img {
    border: 1px solid #b7b7b7;
}

.right-item {
    margin-left: 30px;
}

.right-item {
    text-align: left;
}

.left-item {
    text-align: right;
}

/* About Section */

#about {
    background: url('../images/about-me.png');
    background-size: cover;
    margin: 0 auto;
}

.about-blurb {
    color: #1f202b;
    width: 550px;
}



/* Contact Section */ 

#contact {
    text-align: center;
}

#contact img {
    border-radius: 50%;
}

#contact a {
    text-decoration: none;
    color: #fff;
}

#contact a:hover {
    color: #fa0075;
}

#contact h4 {
    margin-bottom: 25px;
}

#contact p {
    margin: 5px 0;
}

#contact ul {
    list-style: none;
}

#contact ul li {
    display: inline-block;
    padding-right: 40px;
}

.connect-item {
    padding-top: 60px;
}


.copy {
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
    font-size: 16px;
}

