/* Base Styles */

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #1f202b; 
    /* width: 1400px; */
    margin: 0 auto;
}

a:hover {
    color: #fa0075;
}

h3 {
    font-family: 'Source Code Pro', monospace;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: #fa0075;
}

/* Grid */

.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}

/* Header */


header {
    height: 50px;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #fff;
    text-transform: lowercase;
}

nav {
    float: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-transform: lowercase;
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    padding-left: 45px;
}

.title {
    padding: 10px 0;
}

.menu {
    padding: 10px 0;
}

/* Hero Section */

.hero {
    height: 800px;
    margin: 0 auto;
    background: url('../images/hero-background.png');
    background-size: cover;
}

.hero h2 {
    font-family: 'Source Code Pro', monospace;
    font-size: 72px;
    font-weight: 600;
    padding: 300px 0 0 120px;
}

.hero h2 span {
    color: #fa0075;
}

/* Work Section */

#work {
    height: 1500px;
}

.work-item {
    width: 48%;
    height: 500px;
}

/* About Section */


#about {
    height: 550px;
    width: 1400px;
    background: url('../images/about-me.png');
    background-size: cover;
    margin: 0 auto;
}



/* Contact Section */ 

#contact {
    height: 400px;
}